import awsLogo from './assets/aws-logo-on-light-bg.png';

export default {
  HEADER_TITLE: "${header-title}",
  HEADER_LOGO: "${header-logo}",

  MAX_ATTACHMENT_SIZE: 5000000,
  s3: {
    REGION: "${region}",
    BUCKET: "${s3-bucket}"
  },
  apiGateway: {
    REGION: "${region}",
    PYURL: "pyapiurl"
  },
  cognito: {
    REGION: "${region}",
    USER_POOL_ID: "${cognito-user-pool-id}",
    APP_CLIENT_ID: "${cognito-app-client-id}",
    IDENTITY_POOL_ID: "${cognito-identity-pool-id}"
  }
};
