.demo-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.demo-container__lightbg {
  background-image: url('../../assets/light-bg.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}
