{
  "StartHPOFunction": {
    "MODE": "HPO",
    "TRAINING_STATE_MACHINE_ARN": "arn:aws:states:us-east-1:111111111111:stateMachine:STATE_MACHINE_NAME",
    "ACCOUNT_ID": "111111111111",
    "REGION": "us-east-1",
    "ECR_TRAINING_IMAGE_REPO_NAME": "REPO_NAME",
    "TRAINING_BUCKET_NAME": "aws-us-east-1-111111111111-BUCKET_NAME",
    "TRAINING_INSTANCE_SIZE": "ml.c4.2xlarge",
    "SAGEMAKER_EXECUTION_ROLE_ARN": "arn:aws:iam::111111111111:role/SAGEMAKER_EXECUTION_ROLE"
  },
  "StartTrainingFunction": {
    "MODE": "MODEL",
    "TRAINING_STATE_MACHINE_ARN": "arn:aws:states:us-east-1:111111111111:stateMachine:STATE_MACHIEN_NAME",
    "ACCOUNT_ID": "111111111111",
    "REGION": "us-east-1",
    "ECR_TRAINING_IMAGE_REPO_NAME": "REPO_NAME",
    "TRAINING_BUCKET_NAME": "aws-us-east-1-111111111111-BUCKET_NAME",
    "TRAINING_INSTANCE_SIZE": "ml.c4.2xlarge",
    "ENDPOINT_INSTANCE_SIZE": "ml.t2.medium",
    "SAGEMAKER_EXECUTION_ROLE_ARN": "arn:aws:iam::111111111111:role/SAGEMAKER_EXECUTION_ROLE",
    "MAX_NUMBER_ENDPPOINT": 5
  },
  "GetModelsFunction": {
    "MODEL_TABLE": "MODEL_TABLE_NAME"
  },
  "GetHPOsFunction": {
    "HPO_TABLE": "HPO_TABLE_NAME"
  }
}
